
input {
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
}

.btn-primary, .btn-primary:hover {
    background-color: purple;
    color: white;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.note-card {
    box-shadow: 0px 0px 15px 15px rgba(60, 60, 60, 0.44);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
}
.note-card input {
    width: 100%;
}

.note-card textarea {
    width: 100%;
    height: 300px;
}

.note-card .btn-primary {
    width: 40%;
}